@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/*-------------------------------------------------------------------------*/
/*------------------------------------BODY---------------------------------*/

body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #020617;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-image: url("./assets/images/hero_img.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;

}

/*-------------------------------------------------------------------------*/
/*-----------------------------------PANELS--------------------------------*/

button{
    all:unset;
}

hr{
    width: 92%;
    border: 1px solid #373e4d;
}

ul{
    border: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    margin: 10px 10px;
}

textarea{
    resize: none;
    background-color: #212433;
    border: none;
    width: 92%;
    color: #f9fbfb;
    margin:10px 25px;
    font-family: inherit;
    font-size:90%;
    font-weight: 500;
}

textarea:focus{
    /* outline: none; */
}

.content{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    gap: 3vh;
    height: 55vh;
}

.panel{
    border: 1px solid #6c7280;
    width: 100%;
    background-color: #212433;
    color:#6c7280;
    border-radius: 25px;
    position: relative;
}

.languageBtn{
    color: #6c717f;
    font-size:small;
    font-weight: 600;
    margin: 1vh;
    padding: 1vh 2vh;
    border-radius: 15px;
}

.languageBtn:hover{
    color: #cbd5e1;
    background-color: #4d5562;
}

.actionBtn{
    position:relative;
    border:2px solid #6c7280;
    border-radius: 12px;
    padding: 0.5vh 1vh;
    margin: 1vh;
    align-items: center;
}

.actionBtn img{
    /* position:absolute; */
    top: 50%;
    transform: translate(-8%, -0.1%);
}

.translateBtn{
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*-------------------------------------------------------------------------*/
/*-------------------------------RESPONSIVE CSS----------------------------*/